.DS_Store
bower_components
node_modules
assets/css/
assets/images/svg
assets/images/common
assets/images/placeholders
assets/images/sprite.svg
assets/js/plugins/
assets/js/plugins/src/
assets/styl/base/sprite.styl
assets/libs/
assets/less/base/normalize.styl
assets/images/logo.svg
assets/images/favicon.ico
assets/images/apple-touch-icon.png

assets/images/bg
assets/images/featured
assets/images/pattern.png
assets/js/main.js
assets/js/main.js.map
assets/images/pattern-lighter.png
assets/images/pattern-white.png
assets/images/pattern-dark-gray.png
assets/images/pattern-gray.png
