// Name: Fonts
// Author: Graffino (http://www.graffino.com)

//	Fonts: 
//	Gotham (L + M + B + Book )
//  
//	
//	Extra Light, Ultra Light = 100
//	Light, Thin = 200
//	Book, Demi = 300
//	Normal, Regular = 400
//	Medium = 500
//	SemiBold, Demibold = 600
//	Bold = 700
//	Black, ExtraBold, Heavy = 800
//	Extra Black, Fat, Poster, UltraBlack = 900

// ==|=========================================================================
font-url(file) { return '../fonts/' + file }

webfont(family, file, weight = normal, style = normal) {
	@font-face {
		font-family: family
		src: url(font-url(file + '.eot'))
		src: url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
			url(font-url(file + '.woff')) format('woff'), 
			url(font-url(file + '.ttf')) format('truetype'), 
			url(font-url(file + '.svg#'+ family)) format('svg')
		font-weight: weight
		font-style: style
	}
}

/* !CSS Embedded Fonts */
/* ==|========================================================================= */
// A Caslon
// Bold	
webfont('Caslon', 'ACaslonProBold', 700, normal)
// Italic
webfont('Caslon', 'ACaslonProItalic', 400, italic)
// Bold Italic
webfont('Caslon', 'ACaslonProBoldItalic', 700, italic)
// Semi Bold Italic
webfont('Caslon', 'ACaslonProSemiBoldItalic', 600, italic)

// Bebas Neue
// Book
webfont('BebasNeueBook', 'BebasNeueBook', 300, normal)

// Montserrat
// Regular
webfont('Montserrat', 'MontserratRegular', 400, normal)

// TisaOT
// Regular
webfont('TisaOT', 'TisaOT', 400, normal)

// Helvetica Neue
// Regular
webfont('HelveticaNeue', 'HelveticaNeue', 400, normal)

// Market
// Regular
webfont('MarketRegular', 'MarketRegular', 400, normal)






