//
// Name: SVG Icons
// Author: Graffino (http://www.graffino.com)
//

// !SVG Icons
// ==|=========================================================================
.icon {
	display: inline-block

	&__heart {
		svg-icon-heart()
		svg-icon-heart-dims()
	}
	&__heart-featured {
		svg-icon-heart-featured()
		svg-icon-heart-featured-dims()
	}
	&__heart-featured-full {
		svg-icon-heart-featured-full()
		svg-icon-heart-featured-full-dims()
	}
	&__heart-full {
		svg-icon-heart-full()
		svg-icon-heart-full-dims()
	}
	&__heart-mobile {
		svg-icon-heart-mobile()
		svg-icon-heart-mobile-dims()
	}
	&__heart-full-mobile {
		svg-icon-heart-full-mobile()
		svg-icon-heart-full-mobile-dims()
	}
	&__heart-big {
		svg-icon-heart-big()
		svg-icon-heart-big-dims()
	}
	&__heart-big-mobile {
		svg-icon-heart-big-mobile()
		svg-icon-heart-big-mobile-dims()
	}
	&__chat {
		svg-icon-chat()
		svg-icon-chat-dims()
	}
	&__search {
		svg-icon-search()
		svg-icon-search-dims()
	}
	&__facebook {
		svg-icon-facebook()
		svg-icon-facebook-dims()
	}
	&__facebook-mobile {
		svg-icon-facebook-mobile()
		svg-icon-facebook-mobile-dims()
	}
	&__facebook-blue {
		svg-icon-facebook-blue()
		svg-icon-facebook-blue-dims()
	}
	&__facebook-mobile-blue {
		svg-icon-facebook-mobile-blue()
		svg-icon-facebook-mobile-blue-dims()
	}
	&__twitter {
		svg-icon-twitter()
		svg-icon-twitter-dims()
	}
	&__twitter-mobile {
		svg-icon-twitter-mobile()
		svg-icon-twitter-mobile-dims()
	}
	&__twitter-blue {
		svg-icon-twitter-blue()
		svg-icon-twitter-blue-dims()
	}
	&__twitter-mobile-blue {
		svg-icon-twitter-mobile-blue()
		svg-icon-twitter-mobile-blue-dims()
	}
	&__instagram {
		svg-icon-instagram()
		svg-icon-instagram-dims()
	}
	&__instagram-mobile {
		svg-icon-instagram-mobile()
		svg-icon-instagram-mobile-dims()
	}
	&__instagram-blue {
		svg-icon-instagram-blue()
		svg-icon-instagram-blue-dims()
	}
	&__instagram-mobile-blue {
		svg-icon-instagram-mobile-blue()
		svg-icon-instagram-mobile-blue-dims()
	}
	&__google {
		svg-icon-google()
		svg-icon-google-dims()
	}
	&__google-mobile {
		svg-icon-google-mobile()
		svg-icon-google-mobile-dims()
	}
	&__google-blue {
		svg-icon-google-blue()
		svg-icon-google-blue-dims()
	}
	&__google-mobile-blue {
		svg-icon-google-mobile-blue()
		svg-icon-google-mobile-blue-dims()
	}
	&__arrow-right {
		svg-icon-arrow-right()
		svg-icon-arrow-right-dims()
	}
	&__arrow-right-big {
		svg-icon-arrow-right-big()
		svg-icon-arrow-right-big-dims()
	}
	&__arrow-right-blue {
		svg-icon-arrow-right-blue()
		svg-icon-arrow-right-blue-dims()
	}
	&__arrow-left-blue {
		svg-icon-arrow-left-blue()
		svg-icon-arrow-left-blue-dims()
	}
	&__arrow-right-alt {
		svg-icon-arrow-right-alt()
		svg-icon-arrow-right-alt-dims()
	}
	&__arrow-left-alt {
		svg-icon-arrow-left-alt()
		svg-icon-arrow-left-alt-dims()
	}
	&__arrow-down {
		svg-icon-arrow-down()
		svg-icon-arrow-down-dims()
	}
	&__arrow-head-down {
		svg-icon-arrow-head-down()
		svg-icon-arrow-head-down-dims()
	}
	&__arrow-down-black {
		svg-icon-arrow-down-black()
		svg-icon-arrow-down-black-dims()
	}
	&__arrow-down-long {
		svg-icon-arrow-down-long()
		svg-icon-arrow-down-long-dims()
	}
	&__calendar {
		svg-icon-calendar()
		svg-icon-calendar-dims()
		pointer-events: none
	}
	&__option {
		svg-icon-option()
		svg-icon-option-dims()
	}
	&__option-small {
		svg-icon-option-small()
		svg-icon-option-small-dims()
	}
	&__option-simple {
		svg-icon-option-simple()
		svg-icon-option-simple-dims()
	}
	&__option-simple-small {
		svg-icon-option-simple-small()
		svg-icon-option-simple-small-dims()
	}
	&__envelope {
		svg-icon-envelope()
		svg-icon-envelope-dims()
	}
	&__globe {
		svg-icon-globe()
		svg-icon-globe-dims()
	}
	&__hamburger {
		svg-icon-hamburger()
		svg-icon-hamburger-dims()
	}
	&__plus {
		svg-icon-plus()
		svg-icon-plus-dims()
	}
	&__minus {
		svg-icon-minus()
		svg-icon-minus-dims()
	}
	&__pin-white {
		svg-icon-pin-white()
		svg-icon-pin-white-dims()
	}
	&__pin-gray {
		svg-icon-pin-gray()
		svg-icon-pin-gray-dims()
	}
	&__filters {
		svg-icon-filters()
		svg-icon-filters-dims()
	}
	&__nav-right {
		svg-icon-nav-right()
		svg-icon-nav-right-dims()
	}
	&__nav-right-small {
		svg-icon-nav-right-small()
		svg-icon-nav-right-small-dims()
	}
	&__nav-right-white {
		svg-icon-nav-right-white()
		svg-icon-nav-right-white-dims()
	}
	&__nav-right-lighter {
		svg-icon-nav-right-lighter()
		svg-icon-nav-right-lighter-dims()
	}
	&__nav-right-medium {
		svg-icon-nav-right-medium()
		svg-icon-nav-right-medium-dims()
	}
	&__nav-left-medium {
		svg-icon-nav-left-medium()
		svg-icon-nav-left-medium-dims()
	}
	&__nav-left {
		svg-icon-nav-left()
		svg-icon-nav-left-dims()
	}
	&__nav-left-small {
		svg-icon-nav-left-small()
		svg-icon-nav-left-small-dims()
	}
	&__nav-left-white {
		svg-icon-nav-left-white()
		svg-icon-nav-left-white-dims()
	}
	&__nav-left-lighter {
		svg-icon-nav-left-lighter()
		svg-icon-nav-left-lighter-dims()
	}
	&__location {
		svg-icon-location()
		svg-icon-location-dims()
	}
	&__location-gray {
		svg-icon-location-gray()
		svg-icon-location-gray-dims()
	}
	&__location-mobile {
		svg-icon-location-mobile()
		svg-icon-location-mobile-dims()
	}
	&__bedrooms {
		svg-icon-bedrooms()
		svg-icon-bedrooms-dims()
	}
	&__bedrooms-mobile {
		svg-icon-bedrooms-mobile()
		svg-icon-bedrooms-mobile-dims()
	}
	&__baths {
		svg-icon-baths()
		svg-icon-baths-dims()
	}
	&__baths-mobile {
		svg-icon-baths-mobile()
		svg-icon-baths-mobile-dims()
	}
	&__open {
		svg-icon-open()
		svg-icon-open-dims()
	}
	&__activities {
		svg-icon-activities()
		svg-icon-activities-dims()
	}
	&__cooking {
		svg-icon-cooking()
		svg-icon-cooking-dims()
	}
	&__events {
		svg-icon-events()
		svg-icon-events-dims()
	}
	&__greet {
		svg-icon-greet()
		svg-icon-greet-dims()
	}
	&__rentals {
		svg-icon-rentals()
		svg-icon-rentals-dims()
	}
	&__spa {
		svg-icon-spa()
		svg-icon-spa-dims()
	}
	&__stocking {
		svg-icon-stocking()
		svg-icon-stocking-dims()
	}
	&__badge-small {
		svg-icon-badge-small()
		svg-icon-badge-small-dims()
	}
	&__schedule {
		svg-icon-schedule()
		svg-icon-schedule-dims()
	}
	&__phone {
		svg-icon-phone()
		svg-icon-phone-dims()
	}
	&__airplane {
		svg-icon-airplane()
		svg-icon-airplane-dims()
	}
	&__airplane-black {
		svg-icon-airplane-black()
		svg-icon-airplane-black-dims()
	}
	&__attractions {
		svg-icon-attractions()
		svg-icon-attractions-dims()
	}
	&__attractions-black {
		svg-icon-attractions-black()
		svg-icon-attractions-black-dims()
	}
	&__rain {
		svg-icon-rain()
		svg-icon-rain-dims()
	}
	&__rain-black {
		svg-icon-rain-black()
		svg-icon-rain-black-dims()
	}
	&__temperature {
		svg-icon-temperature()
		svg-icon-temperature-dims()
	}
	&__temperature-black {
		svg-icon-temperature-black()
		svg-icon-temperature-black-dims()
	}
	&__badge-baggage-delay {
		svg-icon-badge-baggage-delay()
		svg-icon-badge-baggage-delay-dims()
	}
	&__badge-accident {
		svg-icon-badge-accident()
		svg-icon-badge-accident-dims()
	}
	&__badge-video {
		svg-icon-badge-video()
		svg-icon-badge-video-dims()
	}
	&__badge-money {
		svg-icon-badge-money()
		svg-icon-badge-money-dims()
	}
	&__badge-suitcase {
		svg-icon-badge-suitcase()
		svg-icon-badge-suitcase-dims()
	}
	&__badge-pie {
		svg-icon-badge-pie()
		svg-icon-badge-pie-dims()
	}
	&__badge-tools {
		svg-icon-badge-tools()
		svg-icon-badge-tools-dims()
	}
	&__badge-airfaire {
		svg-icon-badge-airfaire()
		svg-icon-badge-airfaire-dims()
	}
	&__badge-assistance {
		svg-icon-badge-assistance()
		svg-icon-badge-assistance-dims()
	}
	&__badge-baggage {
		svg-icon-badge-baggage()
		svg-icon-badge-baggage-dims()
	}
	&__badge-collision {
		svg-icon-badge-collision()
		svg-icon-badge-collision-dims()
	}
	&__badge-emergency {
		svg-icon-badge-emergency()
		svg-icon-badge-emergency-dims()
	}
	&__badge-missed {
		svg-icon-badge-missed()
		svg-icon-badge-missed-dims()
	}
	&__badge-trip {
		svg-icon-badge-trip()
		svg-icon-badge-trip-dims()
	}
	&__badge-bell {
		svg-icon-badge-bell()
		svg-icon-badge-bell-dims()
	}
	&__badge-keys {
		svg-icon-badge-keys()
		svg-icon-badge-keys-dims()
	}
	&__badge-25 {
		svg-icon-badge-25()
		svg-icon-badge-25-dims()
	}

	&__badge-fees {
		svg-icon-badge-fees()
		svg-icon-badge-fees-dims()
	}

	&__badge-house {
		svg-icon-badge-house()
		svg-icon-badge-house-dims()
	}
	&__auto {
		svg-icon-auto()
		svg-icon-auto-dims()
	}
	&__tickets {
		svg-icon-tickets()
		svg-icon-tickets-dims()
	}
	&__rackets {
		svg-icon-rackets()
		svg-icon-rackets-dims()
	}
	&__bucket {
		svg-icon-bucket()
		svg-icon-bucket-dims()
	}
	&__hands {
		svg-icon-hands()
		svg-icon-hands-dims()
	}
	&__lotus {
		svg-icon-lotus()
		svg-icon-lotus-dims()
	}
	&__date-square {
		svg-icon-date-square()
		svg-icon-date-square-dims()
	}
	&__date-square-white {
		svg-icon-date-square-white()
		svg-icon-date-square-white-dims()
	}
}
