// 
// Name: SVG Sprites
// Author: Graffino (http://www.graffino.com)
// 


// !Mustache Template
// ==|=========================================================================

sprite() {
	background-image: url("../images/sprite.svg") 
	background-size: rem(763) rem(762)
	background-repeat: no-repeat
}
svg-icon-activities() { 
	sprite() 
	background-position: rem(-120) rem(-653.5)
}
svg-icon-activities-dims() { 
	width: rem(56)
	height: rem(60)
}

svg-icon-airplane() { 
	sprite() 
	background-position: rem(-620) rem(-415.5)
}
svg-icon-airplane-dims() { 
	width: rem(36)
	height: rem(38)
}

svg-icon-airplane-black() { 
	sprite() 
	background-position: rem(-658) rem(-593.5)
}
svg-icon-airplane-black-dims() { 
	width: rem(36)
	height: rem(38)
}

svg-icon-arrow-down() { 
	sprite() 
	background-position: rem(0) rem(-737.5)
}
svg-icon-arrow-down-dims() { 
	width: rem(24)
	height: rem(24)
}

svg-icon-arrow-down-black() { 
	sprite() 
	background-position: rem(-24) rem(-737.5)
}
svg-icon-arrow-down-black-dims() { 
	width: rem(24)
	height: rem(24)
}

svg-icon-arrow-down-long() { 
	sprite() 
	background-position: rem(-742) rem(-593.5)
}
svg-icon-arrow-down-long-dims() { 
	width: rem(16)
	height: rem(24)
}

svg-icon-arrow-down-white() { 
	sprite() 
	background-position: rem(-642) rem(-556)
}
svg-icon-arrow-down-white-dims() { 
	width: rem(14)
	height: rem(26)
}

svg-icon-arrow-head-down() { 
	sprite() 
	background-position: rem(-644) rem(-453.5)
}
svg-icon-arrow-head-down-dims() { 
	width: rem(14)
	height: rem(12)
}

svg-icon-arrow-left-alt() { 
	sprite() 
	background-position: rem(-648) rem(-504)
}
svg-icon-arrow-left-alt-dims() { 
	width: rem(10)
	height: rem(12)
}

svg-icon-arrow-left-alt-white() { 
	sprite() 
	background-position: rem(-648) rem(-518)
}
svg-icon-arrow-left-alt-white-dims() { 
	width: rem(10)
	height: rem(12)
}

svg-icon-arrow-left-blue() { 
	sprite() 
	background-position: rem(-300) rem(-737.5)
}
svg-icon-arrow-left-blue-dims() { 
	width: rem(15)
	height: rem(15)
}

svg-icon-arrow-left-huge() { 
	sprite() 
	background-position: rem(-728.2) rem(-208.5)
}
svg-icon-arrow-left-huge-dims() { 
	width: rem(30)
	height: rem(75)
}

svg-icon-arrow-market() { 
	sprite() 
	background-position: rem(-726.2) rem(-470.5)
}
svg-icon-arrow-market-dims() { 
	width: rem(30)
	height: rem(50)
}

svg-icon-arrow-right() { 
	sprite() 
	background-position: rem(-285) rem(-737.5)
}
svg-icon-arrow-right-dims() { 
	width: rem(15)
	height: rem(15)
}

svg-icon-arrow-right-alt() { 
	sprite() 
	background-position: rem(-648) rem(-480)
}
svg-icon-arrow-right-alt-dims() { 
	width: rem(10)
	height: rem(12)
}

svg-icon-arrow-right-alt-white() { 
	sprite() 
	background-position: rem(-648) rem(-492)
}
svg-icon-arrow-right-alt-white-dims() { 
	width: rem(10)
	height: rem(12)
}

svg-icon-arrow-right-big() { 
	sprite() 
	background-position: rem(-220) rem(-737.5)
}
svg-icon-arrow-right-big-dims() { 
	width: rem(17)
	height: rem(17)
}

svg-icon-arrow-right-blue() { 
	sprite() 
	background-position: rem(-723.2) rem(-572.5)
}
svg-icon-arrow-right-blue-dims() { 
	width: rem(15)
	height: rem(10)
}

svg-icon-arrow-right-thick() { 
	sprite() 
	background-position: rem(-750.2) rem(-444.5)
}
svg-icon-arrow-right-thick-dims() { 
	width: rem(12)
	height: rem(14)
}

svg-icon-attractions() { 
	sprite() 
	background-position: rem(-626) rem(-593.5)
}
svg-icon-attractions-dims() { 
	width: rem(32)
	height: rem(38)
}

svg-icon-attractions-black() { 
	sprite() 
	background-position: rem(-624) rem(-113.5)
}
svg-icon-attractions-black-dims() { 
	width: rem(32)
	height: rem(38)
}

svg-icon-auto() { 
	sprite() 
	background-position: rem(-120) rem(-593.5)
}
svg-icon-auto-dims() { 
	width: rem(48)
	height: rem(48)
}

svg-icon-badge-25() { 
	sprite() 
	background-position: rem(0) rem(-160)
}
svg-icon-badge-25-dims() { 
	width: rem(140)
	height: rem(160)
}

svg-icon-badge-accident() { 
	sprite() 
	background-position: rem(-410) rem(-320)
}
svg-icon-badge-accident-dims() { 
	width: rem(104)
	height: rem(113.5)
}

svg-icon-badge-airfaire() { 
	sprite() 
	background-position: rem(-520) rem(-480)
}
svg-icon-badge-airfaire-dims() { 
	width: rem(104)
	height: rem(113.5)
}

svg-icon-badge-assistance() { 
	sprite() 
	background-position: rem(-416) rem(-480)
}
svg-icon-badge-assistance-dims() { 
	width: rem(104)
	height: rem(113.5)
}

svg-icon-badge-baggage() { 
	sprite() 
	background-position: rem(-312) rem(-480)
}
svg-icon-badge-baggage-dims() { 
	width: rem(104)
	height: rem(113.5)
}

svg-icon-badge-baggage-delay() { 
	sprite() 
	background-position: rem(-658.2) rem(0)
}
svg-icon-badge-baggage-delay-dims() { 
	width: rem(104)
	height: rem(113.5)
}

svg-icon-badge-bell() { 
	sprite() 
	background-position: rem(0) rem(-320)
}
svg-icon-badge-bell-dims() { 
	width: rem(140)
	height: rem(160)
}

svg-icon-badge-collision() { 
	sprite() 
	background-position: rem(0) rem(-480)
}
svg-icon-badge-collision-dims() { 
	width: rem(104)
	height: rem(113.5)
}

svg-icon-badge-emergency() { 
	sprite() 
	background-position: rem(-208) rem(-480)
}
svg-icon-badge-emergency-dims() { 
	width: rem(104)
	height: rem(113.5)
}

svg-icon-badge-fees() { 
	sprite() 
	background-position: rem(0) rem(0)
}
svg-icon-badge-fees-dims() { 
	width: rem(140)
	height: rem(160)
}

svg-icon-badge-house() { 
	sprite() 
	background-position: rem(-140) rem(0)
}
svg-icon-badge-house-dims() { 
	width: rem(140)
	height: rem(160)
}

svg-icon-badge-keys() { 
	sprite() 
	background-position: rem(-140) rem(-320)
}
svg-icon-badge-keys-dims() { 
	width: rem(140)
	height: rem(160)
}

svg-icon-badge-missed() { 
	sprite() 
	background-position: rem(-104) rem(-480)
}
svg-icon-badge-missed-dims() { 
	width: rem(104)
	height: rem(113.5)
}

svg-icon-badge-money() { 
	sprite() 
	background-position: rem(-420) rem(-160)
}
svg-icon-badge-money-dims() { 
	width: rem(140)
	height: rem(160)
}

svg-icon-badge-pie() { 
	sprite() 
	background-position: rem(-420) rem(0)
}
svg-icon-badge-pie-dims() { 
	width: rem(140)
	height: rem(160)
}

svg-icon-badge-small() { 
	sprite() 
	background-position: rem(-658.2) rem(-352.5)
}
svg-icon-badge-small-dims() { 
	width: rem(70)
	height: rem(70)
}

svg-icon-badge-suitcase() { 
	sprite() 
	background-position: rem(-280) rem(-160)
}
svg-icon-badge-suitcase-dims() { 
	width: rem(140)
	height: rem(160)
}

svg-icon-badge-tools() { 
	sprite() 
	background-position: rem(-140) rem(-160)
}
svg-icon-badge-tools-dims() { 
	width: rem(140)
	height: rem(160)
}

svg-icon-badge-trip() { 
	sprite() 
	background-position: rem(-560) rem(0)
}
svg-icon-badge-trip-dims() { 
	width: rem(98.2)
	height: rem(113.5)
}

svg-icon-badge-video() { 
	sprite() 
	background-position: rem(-280) rem(0)
}
svg-icon-badge-video-dims() { 
	width: rem(140)
	height: rem(160)
}

svg-icon-baths() { 
	sprite() 
	background-position: rem(-410) rem(-433.5)
}
svg-icon-baths-dims() { 
	width: rem(36)
	height: rem(32)
}

svg-icon-baths-mobile() { 
	sprite() 
	background-position: rem(-52) rem(-713.5)
}
svg-icon-baths-mobile-dims() { 
	width: rem(24)
	height: rem(24)
}

svg-icon-bedrooms() { 
	sprite() 
	background-position: rem(-514) rem(-396)
}
svg-icon-bedrooms-dims() { 
	width: rem(40)
	height: rem(28)
}

svg-icon-bedrooms-mobile() { 
	sprite() 
	background-position: rem(-734.2) rem(-330.5)
}
svg-icon-bedrooms-mobile-dims() { 
	width: rem(26)
	height: rem(18)
}

svg-icon-bucket() { 
	sprite() 
	background-position: rem(-216) rem(-593.5)
}
svg-icon-bucket-dims() { 
	width: rem(48)
	height: rem(48)
}

svg-icon-bullet-empty() { 
	sprite() 
	background-position: rem(-253) rem(-737.5)
}
svg-icon-bullet-empty-dims() { 
	width: rem(16)
	height: rem(16)
}

svg-icon-bullet-full() { 
	sprite() 
	background-position: rem(-237) rem(-737.5)
}
svg-icon-bullet-full-dims() { 
	width: rem(16)
	height: rem(16)
}

svg-icon-calendar() { 
	sprite() 
	background-position: rem(-184) rem(-737.5)
}
svg-icon-calendar-dims() { 
	width: rem(18)
	height: rem(18)
}

svg-icon-calendar-mobile() { 
	sprite() 
	background-position: rem(-264) rem(-593.5)
}
svg-icon-calendar-mobile-dims() { 
	width: rem(42)
	height: rem(42)
}

svg-icon-chat() { 
	sprite() 
	background-position: rem(-70) rem(-737.5)
}
svg-icon-chat-dims() { 
	width: rem(22)
	height: rem(22)
}

svg-icon-checkbox-empty() { 
	sprite() 
	background-position: rem(-620) rem(-453.5)
}
svg-icon-checkbox-empty-dims() { 
	width: rem(24)
	height: rem(20)
}

svg-icon-checkbox-empty-gray() { 
	sprite() 
	background-position: rem(-620) rem(-393.5)
}
svg-icon-checkbox-empty-gray-dims() { 
	width: rem(24)
	height: rem(20)
}

svg-icon-checkbox-empty-mobile() { 
	sprite() 
	background-position: rem(-258) rem(-713.5)
}
svg-icon-checkbox-empty-mobile-dims() { 
	width: rem(13)
	height: rem(13)
}

svg-icon-checkbox-empty-new() { 
	sprite() 
	background-position: rem(-702) rem(-683.5)
}
svg-icon-checkbox-empty-new-dims() { 
	width: rem(24)
	height: rem(20)
}

svg-icon-checkbox-fill() { 
	sprite() 
	background-position: rem(-124) rem(-713.5)
}
svg-icon-checkbox-fill-dims() { 
	width: rem(24)
	height: rem(20)
}

svg-icon-checkbox-fill-mobile() { 
	sprite() 
	background-position: rem(-245) rem(-713.5)
}
svg-icon-checkbox-fill-mobile-dims() { 
	width: rem(13)
	height: rem(13)
}

svg-icon-checkbox-fill-new() { 
	sprite() 
	background-position: rem(-100) rem(-713.5)
}
svg-icon-checkbox-fill-new-dims() { 
	width: rem(24)
	height: rem(20)
}

svg-icon-checkmark() { 
	sprite() 
	background-position: rem(-228) rem(-713.5)
}
svg-icon-checkmark-dims() { 
	width: rem(17)
	height: rem(13)
}

svg-icon-checkmark-blue() { 
	sprite() 
	background-position: rem(-315) rem(-737.5)
}
svg-icon-checkmark-blue-dims() { 
	width: rem(15)
	height: rem(15)
}

svg-icon-checkmark-green() { 
	sprite() 
	background-position: rem(-170) rem(-713.5)
}
svg-icon-checkmark-green-dims() { 
	width: rem(20)
	height: rem(20)
}

svg-icon-checkmark-mobile() { 
	sprite() 
	background-position: rem(-210) rem(-713.5)
}
svg-icon-checkmark-mobile-dims() { 
	width: rem(18)
	height: rem(14)
}

svg-icon-checkmark-white() { 
	sprite() 
	background-position: rem(-190) rem(-713.5)
}
svg-icon-checkmark-white-dims() { 
	width: rem(20)
	height: rem(20)
}

svg-icon-close() { 
	sprite() 
	background-position: rem(-686) rem(-653.5)
}
svg-icon-close-dims() { 
	width: rem(28)
	height: rem(28)
}

svg-icon-close-blue() { 
	sprite() 
	background-position: rem(-624) rem(-683.5)
}
svg-icon-close-blue-dims() { 
	width: rem(28)
	height: rem(28)
}

svg-icon-close-small() { 
	sprite() 
	background-position: rem(-753.2) rem(-136.5)
}
svg-icon-close-small-dims() { 
	width: rem(8)
	height: rem(8)
}

svg-icon-close-small-blue() { 
	sprite() 
	background-position: rem(-753.2) rem(-144.5)
}
svg-icon-close-small-blue-dims() { 
	width: rem(8)
	height: rem(8)
}

svg-icon-cluster-pin() { 
	sprite() 
	background-position: rem(-280) rem(-320)
}
svg-icon-cluster-pin-dims() { 
	width: rem(130)
	height: rem(150)
}

svg-icon-cluster-pin-mega() { 
	sprite() 
	background-position: rem(-658.2) rem(-208.5)
}
svg-icon-cluster-pin-mega-dims() { 
	width: rem(70)
	height: rem(80)
}

svg-icon-cooking() { 
	sprite() 
	background-position: rem(0) rem(-653.5)
}
svg-icon-cooking-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-date() { 
	sprite() 
	background-position: rem(-26) rem(-713.5)
}
svg-icon-date-dims() { 
	width: rem(26)
	height: rem(24)
}

svg-icon-date-square() { 
	sprite() 
	background-position: rem(-678) rem(-683.5)
}
svg-icon-date-square-dims() { 
	width: rem(24)
	height: rem(22)
}

svg-icon-date-square-white() { 
	sprite() 
	background-position: rem(-76) rem(-713.5)
}
svg-icon-date-square-white-dims() { 
	width: rem(24)
	height: rem(22)
}

svg-icon-envelope() { 
	sprite() 
	background-position: rem(-726) rem(-683.5)
}
svg-icon-envelope-dims() { 
	width: rem(24)
	height: rem(16)
}

svg-icon-events() { 
	sprite() 
	background-position: rem(-560) rem(-113.5)
}
svg-icon-events-dims() { 
	width: rem(64)
	height: rem(60)
}

svg-icon-facebook() { 
	sprite() 
	background-position: rem(-296) rem(-653.5)
}
svg-icon-facebook-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-facebook-blue() { 
	sprite() 
	background-position: rem(-536) rem(-653.5)
}
svg-icon-facebook-blue-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-facebook-mobile() { 
	sprite() 
	background-position: rem(-386) rem(-593.5)
}
svg-icon-facebook-mobile-dims() { 
	width: rem(40)
	height: rem(40)
}

svg-icon-facebook-mobile-blue() { 
	sprite() 
	background-position: rem(-346) rem(-593.5)
}
svg-icon-facebook-mobile-blue-dims() { 
	width: rem(40)
	height: rem(40)
}

svg-icon-filters() { 
	sprite() 
	background-position: rem(-538) rem(-433.5)
}
svg-icon-filters-dims() { 
	width: rem(22)
	height: rem(18)
}

svg-icon-globe() { 
	sprite() 
	background-position: rem(-148) rem(-737.5)
}
svg-icon-globe-dims() { 
	width: rem(18)
	height: rem(18)
}

svg-icon-google() { 
	sprite() 
	background-position: rem(-560) rem(-295.5)
}
svg-icon-google-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-google-blue() { 
	sprite() 
	background-position: rem(-560) rem(-415.5)
}
svg-icon-google-blue-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-google-mobile() { 
	sprite() 
	background-position: rem(-546) rem(-593.5)
}
svg-icon-google-mobile-dims() { 
	width: rem(40)
	height: rem(40)
}

svg-icon-google-mobile-blue() { 
	sprite() 
	background-position: rem(-506) rem(-593.5)
}
svg-icon-google-mobile-blue-dims() { 
	width: rem(40)
	height: rem(40)
}

svg-icon-greet() { 
	sprite() 
	background-position: rem(-600) rem(-235.5)
}
svg-icon-greet-dims() { 
	width: rem(50)
	height: rem(60)
}

svg-icon-hamburger() { 
	sprite() 
	background-position: rem(-644) rem(-393.5)
}
svg-icon-hamburger-dims() { 
	width: rem(14)
	height: rem(14)
}

svg-icon-hands() { 
	sprite() 
	background-position: rem(-168) rem(-593.5)
}
svg-icon-hands-dims() { 
	width: rem(48)
	height: rem(48)
}

svg-icon-heart() { 
	sprite() 
	background-position: rem(-48) rem(-737.5)
}
svg-icon-heart-dims() { 
	width: rem(22)
	height: rem(22)
}

svg-icon-heart-big() { 
	sprite() 
	background-position: rem(-658.2) rem(-288.5)
}
svg-icon-heart-big-dims() { 
	width: rem(76)
	height: rem(64)
}

svg-icon-heart-big-mobile() { 
	sprite() 
	background-position: rem(-480) rem(-433.5)
}
svg-icon-heart-big-mobile-dims() { 
	width: rem(32)
	height: rem(26)
}

svg-icon-heart-featured() { 
	sprite() 
	background-position: rem(-652) rem(-683.5)
}
svg-icon-heart-featured-dims() { 
	width: rem(26)
	height: rem(23)
}

svg-icon-heart-featured-full() { 
	sprite() 
	background-position: rem(-512) rem(-433.5)
}
svg-icon-heart-featured-full-dims() { 
	width: rem(26)
	height: rem(23)
}

svg-icon-heart-full() { 
	sprite() 
	background-position: rem(-108) rem(-737.5)
}
svg-icon-heart-full-dims() { 
	width: rem(22)
	height: rem(22)
}

svg-icon-heart-full-mobile() { 
	sprite() 
	background-position: rem(-130) rem(-737.5)
}
svg-icon-heart-full-mobile-dims() { 
	width: rem(18)
	height: rem(18)
}

svg-icon-heart-mobile() { 
	sprite() 
	background-position: rem(-166) rem(-737.5)
}
svg-icon-heart-mobile-dims() { 
	width: rem(18)
	height: rem(18)
}

svg-icon-instagram() { 
	sprite() 
	background-position: rem(-416) rem(-653.5)
}
svg-icon-instagram-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-instagram-blue() { 
	sprite() 
	background-position: rem(-356) rem(-653.5)
}
svg-icon-instagram-blue-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-instagram-mobile() { 
	sprite() 
	background-position: rem(-466) rem(-593.5)
}
svg-icon-instagram-mobile-dims() { 
	width: rem(40)
	height: rem(40)
}

svg-icon-instagram-mobile-blue() { 
	sprite() 
	background-position: rem(-426) rem(-593.5)
}
svg-icon-instagram-mobile-blue-dims() { 
	width: rem(40)
	height: rem(40)
}

svg-icon-location() { 
	sprite() 
	background-position: rem(-446) rem(-433.5)
}
svg-icon-location-dims() { 
	width: rem(34)
	height: rem(32)
}

svg-icon-location-gray() { 
	sprite() 
	background-position: rem(-236) rem(-653.5)
}
svg-icon-location-gray-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-location-mobile() { 
	sprite() 
	background-position: rem(-148) rem(-713.5)
}
svg-icon-location-mobile-dims() { 
	width: rem(22)
	height: rem(20)
}

svg-icon-lotus() { 
	sprite() 
	background-position: rem(-658.2) rem(-422.5)
}
svg-icon-lotus-dims() { 
	width: rem(70)
	height: rem(48)
}

svg-icon-magnifier-gray() { 
	sprite() 
	background-position: rem(-656) rem(-653.5)
}
svg-icon-magnifier-gray-dims() { 
	width: rem(30)
	height: rem(30)
}

svg-icon-minus() { 
	sprite() 
	background-position: rem(-728.2) rem(-414.5)
}
svg-icon-minus-dims() { 
	width: rem(16)
	height: rem(6)
}

svg-icon-nav-left() { 
	sprite() 
	background-position: rem(-592) rem(-173.5)
}
svg-icon-nav-left-dims() { 
	width: rem(32)
	height: rem(62)
}

svg-icon-nav-left-lighter() { 
	sprite() 
	background-position: rem(-560) rem(-173.5)
}
svg-icon-nav-left-lighter-dims() { 
	width: rem(32)
	height: rem(62)
}

svg-icon-nav-left-medium() { 
	sprite() 
	background-position: rem(-728.2) rem(-422.5)
}
svg-icon-nav-left-medium-dims() { 
	width: rem(22)
	height: rem(42)
}

svg-icon-nav-left-small() { 
	sprite() 
	background-position: rem(-596) rem(-683.5)
}
svg-icon-nav-left-small-dims() { 
	width: rem(28)
	height: rem(28)
}

svg-icon-nav-left-white() { 
	sprite() 
	background-position: rem(-694) rem(-593.5)
}
svg-icon-nav-left-white-dims() { 
	width: rem(18)
	height: rem(34)
}

svg-icon-nav-right() { 
	sprite() 
	background-position: rem(-624) rem(-173.5)
}
svg-icon-nav-right-dims() { 
	width: rem(32)
	height: rem(62)
}

svg-icon-nav-right-lighter() { 
	sprite() 
	background-position: rem(-728.2) rem(-352.5)
}
svg-icon-nav-right-lighter-dims() { 
	width: rem(32)
	height: rem(62)
}

svg-icon-nav-right-medium() { 
	sprite() 
	background-position: rem(-734.2) rem(-288.5)
}
svg-icon-nav-right-medium-dims() { 
	width: rem(22)
	height: rem(42)
}

svg-icon-nav-right-small() { 
	sprite() 
	background-position: rem(-714) rem(-653.5)
}
svg-icon-nav-right-small-dims() { 
	width: rem(28)
	height: rem(28)
}

svg-icon-nav-right-white() { 
	sprite() 
	background-position: rem(-624) rem(-556)
}
svg-icon-nav-right-white-dims() { 
	width: rem(18)
	height: rem(34)
}

svg-icon-open() { 
	sprite() 
	background-position: rem(-620) rem(-355.5)
}
svg-icon-open-dims() { 
	width: rem(38)
	height: rem(38)
}

svg-icon-option() { 
	sprite() 
	background-position: rem(-750.2) rem(-422.5)
}
svg-icon-option-dims() { 
	width: rem(12)
	height: rem(22)
}

svg-icon-option-simple() { 
	sprite() 
	background-position: rem(-738.2) rem(-572.5)
}
svg-icon-option-simple-dims() { 
	width: rem(12)
	height: rem(10)
}

svg-icon-option-simple-small() { 
	sprite() 
	background-position: rem(-753.2) rem(-128.5)
}
svg-icon-option-simple-small-dims() { 
	width: rem(8)
	height: rem(8)
}

svg-icon-option-small() { 
	sprite() 
	background-position: rem(-753.2) rem(-113.5)
}
svg-icon-option-small-dims() { 
	width: rem(9)
	height: rem(15)
}

svg-icon-people() { 
	sprite() 
	background-position: rem(0) rem(-713.5)
}
svg-icon-people-dims() { 
	width: rem(26)
	height: rem(24)
}

svg-icon-phone() { 
	sprite() 
	background-position: rem(-176) rem(-653.5)
}
svg-icon-phone-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-pin-black() { 
	sprite() 
	background-position: rem(-620) rem(-295.5)
}
svg-icon-pin-black-dims() { 
	width: rem(37)
	height: rem(50)
}

svg-icon-pin-gray() { 
	sprite() 
	background-position: rem(-92) rem(-737.5)
}
svg-icon-pin-gray-dims() { 
	width: rem(16)
	height: rem(22)
}

svg-icon-pin-white() { 
	sprite() 
	background-position: rem(-742) rem(-653.5)
}
svg-icon-pin-white-dims() { 
	width: rem(16)
	height: rem(22)
}

svg-icon-pin-yellow() { 
	sprite() 
	background-position: rem(-723.2) rem(-522.5)
}
svg-icon-pin-yellow-dims() { 
	width: rem(37)
	height: rem(50)
}

svg-icon-play() { 
	sprite() 
	background-position: rem(-658.2) rem(-113.5)
}
svg-icon-play-dims() { 
	width: rem(95)
	height: rem(95)
}

svg-icon-play-aqua() { 
	sprite() 
	background-position: rem(-596) rem(-653.5)
}
svg-icon-play-aqua-dims() { 
	width: rem(30)
	height: rem(30)
}

svg-icon-plus() { 
	sprite() 
	background-position: rem(-269) rem(-737.5)
}
svg-icon-plus-dims() { 
	width: rem(16)
	height: rem(16)
}

svg-icon-quotes() { 
	sprite() 
	background-position: rem(-624) rem(-151.5)
}
svg-icon-quotes-dims() { 
	width: rem(26)
	height: rem(20)
}

svg-icon-rackets() { 
	sprite() 
	background-position: rem(-60) rem(-593.5)
}
svg-icon-rackets-dims() { 
	width: rem(60)
	height: rem(52)
}

svg-icon-rain() { 
	sprite() 
	background-position: rem(-514) rem(-358)
}
svg-icon-rain-dims() { 
	width: rem(44)
	height: rem(38)
}

svg-icon-rain-black() { 
	sprite() 
	background-position: rem(-514) rem(-320)
}
svg-icon-rain-black-dims() { 
	width: rem(44)
	height: rem(38)
}

svg-icon-rentals() { 
	sprite() 
	background-position: rem(-476) rem(-653.5)
}
svg-icon-rentals-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-schedule() { 
	sprite() 
	background-position: rem(-560) rem(-355.5)
}
svg-icon-schedule-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-search() { 
	sprite() 
	background-position: rem(-202) rem(-737.5)
}
svg-icon-search-dims() { 
	width: rem(18)
	height: rem(18)
}

svg-icon-spa() { 
	sprite() 
	background-position: rem(-658.2) rem(-522.5)
}
svg-icon-spa-dims() { 
	width: rem(65)
	height: rem(60)
}

svg-icon-stocking() { 
	sprite() 
	background-position: rem(-560) rem(-235.5)
}
svg-icon-stocking-dims() { 
	width: rem(40)
	height: rem(60)
}

svg-icon-temperature() { 
	sprite() 
	background-position: rem(-624) rem(-518)
}
svg-icon-temperature-dims() { 
	width: rem(24)
	height: rem(38)
}

svg-icon-temperature-black() { 
	sprite() 
	background-position: rem(-624) rem(-480)
}
svg-icon-temperature-black-dims() { 
	width: rem(24)
	height: rem(38)
}

svg-icon-thumbs-gray() { 
	sprite() 
	background-position: rem(-626) rem(-653.5)
}
svg-icon-thumbs-gray-dims() { 
	width: rem(30)
	height: rem(30)
}

svg-icon-thumbs-white() { 
	sprite() 
	background-position: rem(-712) rem(-593.5)
}
svg-icon-thumbs-white-dims() { 
	width: rem(30)
	height: rem(30)
}

svg-icon-tickets() { 
	sprite() 
	background-position: rem(-658.2) rem(-470.5)
}
svg-icon-tickets-dims() { 
	width: rem(68)
	height: rem(52)
}

svg-icon-twitter() { 
	sprite() 
	background-position: rem(0) rem(-593.5)
}
svg-icon-twitter-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-twitter-blue() { 
	sprite() 
	background-position: rem(-60) rem(-653.5)
}
svg-icon-twitter-blue-dims() { 
	width: rem(60)
	height: rem(60)
}

svg-icon-twitter-mobile() { 
	sprite() 
	background-position: rem(-586) rem(-593.5)
}
svg-icon-twitter-mobile-dims() { 
	width: rem(40)
	height: rem(40)
}

svg-icon-twitter-mobile-blue() { 
	sprite() 
	background-position: rem(-306) rem(-593.5)
}
svg-icon-twitter-mobile-blue-dims() { 
	width: rem(40)
	height: rem(40)
}



