// Name: Plugins
// Author: Graffino (http://www.graffino.com)
// !Plugins
// ==|=========================================================================

// !No-Ui Slider
// ==|=========================================================================
.no-slider {
	position: relative
	right: rem(2)
	display: inline-block
	border-radius: 0
	width: rem(264)
	height: rem(12)
	border: 5px solid #e1e1e1

	+below(1150px) {
		border-width: 4px
	}
}

.noUi-horizontal .noUi-handle {
	top: rem(-10)
	border: 1px solid #c5c5c5
	border-radius: 0
	width: rem(24)
	height: rem(24)
	background-color: #f8f8f8
	box-shadow: none

	&::after,
	&::before {
		top: rem(4)
		border-right: 1px solid #e6e8e9
		border-left: 1px solid #e6e8e9
		width: rem(2)
		height: rem(14)
		background: transparent
	}

	&::after {
		left: rem(13)
	}

	&::before {
		left: rem(6)
	}
}

.noUi-connect {
	background: $blue
	box-shadow: none
}

.no-slider__container {
	display: inline
}

.no-slider__limit__container {
	cf()
	margin: 0 0 rem(10) rem(52)
	width: rem(275)
}

.no-slider__limit {
	font-family: $montserrat-font-family
	font-size: rem(12)
	font-weight: 400
	text-transform: uppercase
	color: #808080

	&__value {
		font-style: normal
		color: #191D21
	}

	&.-value-min {
		float: left
	}

	&.-value-max {
		float: right
	}
}

// Prevents handlers from going behind stripe
.noUi-stacking {
	z-index: -1
}

// !Datepicker
// ==|=========================================================================
#ui-datepicker-div {
	display: none
	z-index: 9999 !important
	transition: top 300ms ease-out
}

.availability__calendars:after {
	z-index: 100
}
.calendars__carousel {
	position: relative
	z-index: 110!important
	.calendar {
		overflow: hidden
	}
}
.ui-datepicker {
	background-color: #fff
	border: 1px solid #c7c7c7
	padding: rem(10) rem(15) rem(20)
	width: rem(300)
	max-width: 100%

	&.ui-datepicker-inline {

		text-align: left;
		.ui-datepicker-group {
			max-width: rem(200)

			margin-right: 55px;
		}
	}

	.ui-datepicker-today {
		.ui-state-default {
			background: linear-gradient(135deg, rgba(0,161,167,1) 0%, rgba(0,161,167,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 71%, rgba(255,255,255,1) 100%)
			color: #4c5246 !important
		}
	}

	.ui-selected-range.ui-datepicker-today {
		.ui-state-default {
			background: $aqua
			color: #fff !important
		}
	}

	.ui-state-highlight {
		background: #fff
		display: inline-block
	}


	.dp-highlight .ui-state-default {
		background: $aqua
		display: inline-block
		width: 35px
		color: #000
	}

	.ui-state-active {
		background-color: $aqua !important
		color: #fff !important
	}

	&-trigger {
		outline: none !important
		border: none !important
		background: none
	}

	&-header {
		padding-bottom: rem(10)
		width: 65%
		margin: 0 auto

		.ui-icon {
			font-family: @montserrat-font-family
		}
	}
	&-title {
		text-align: center
		font-family: $bebas-font-family
		color: #4c5246
		font-size: rem(26)
		text-transform: uppercase
	}
	&-prev {
		float: left
		cursor: pointer
	}
	&-next {
		cursor: pointer
		float: right
	}
	&-title {
		font-weight: 600
	}
	&-unselectable {
		color: #c7c7c7!important
	}
	&-prev {
		width: rem(10)
		height: rem(12)
		margin-top: rem(8)
 		@extends .icon__arrow-left-alt
	}
	&-next {
		width: rem(10)
		height: rem(12)
		margin-top: rem(8)
		@extends .icon__arrow-right-alt
	}
	&-calendar  {
		width: 100%
		margin: 0 auto

		thead {
			border-bottom: 1px solid #c7c7c7
			border-top: 1px solid #c7c7c7
			font-family: $helvetica-font-family
			font-weight: 700
			color: #616366
		}
		th {
			padding: rem(6)
			font-family: $montserrat-font-family
			font-size: rem(11)
			font-weight: 700
			color: #616366
			text-transform: uppercase
		}
		td {
			text-align: center
			font-family: $helvetica-font-family
			font-size: rem(13)
			color: #4c5246
		}
		.ui-state-default {
			display:inline-block
			padding: rem(4)
		}
	}

	a {
		text-decoration: none
		color: inherit
	}
}

.calendar {
	outline: none

	.ui-datepicker {
		border: 0
		width: 100%

		.ui-datepicker-today {
			background: linear-gradient(135deg, rgba(0,161,167,1) 0%, rgba(0,161,167,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 71%, rgba(255,255,255,1) 100%)

			.ui-state-default {
				color: #4c5246 !important
			}
		}

		.ui-datepicker-current-day {
			background-color: $aqua
		}

		.ui-datepicker-current-day.ui-datepicker-today {
			background-color: transparent

			.ui-state-active {
				color: #333 !important
			}
		}

		.ui-selected-range.ui-datepicker-today {
			background: $aqua
		}

		.ui-unavailable  {
			color: #c7c7c7
			background-color: #f3f3f3
		}

		&-prev,
		&-next {
			display: none
		}

		&-header {
			width: 100%

			+below(960px) {
				padding-bottom: 0
			}
		}

		&-title {
			padding-left: rem(6)
			text-align: left
			font-size: rem(20)

			+below(960px) {
				font-size: rem(16)
			}
		}

		table {
			table-layout: fixed
		}

		thead {
			border: 0
		}

		th {
			width: rem(25)
			height: rem(30)
			font-size: rem(12)
			font-weight: 400
			color: #b7b7b7

			+below(960px) {
				padding: 0 rem(6)
				font-size: rem(11)
			}
		}

		td {
			width: rem(25)
			height: rem(30)
			border: 1px solid #e4e4e4
			font-size: rem(12)

			+below(960px) {
				font-size: rem(14)

				a {
					padding: 0
				}
			}
		}

		.ui-state-active {
			color: #fff !important
			background-color: inherit !important
			display: inline-block !important
		}

		.ui-state-highlight {
			display: inline-block !important
			width: initial !important
			background-color: inherit !important
		}
	}
}

// !Carousel Slider
// ==|=========================================================================
.slider {
	+below(960px) {
		overflow: hidden
	}
}

.slick-slide {
	outline: 0
}

.hero {
	.slider,
	.slick-list,
	.slick-track {
		+below(960px) {
			height: rem(300)
		}

		+below(670px) {
			height: rem(325)
		}
	}

	.slick-slide {
		&:focus {
			outline: 0
		}
		position: relative

		h3 {
			position: absolute
			bottom: rem(40)
			right: 0
			left: 0
			margin: 0 auto
			display: none
			text-align: center
			font-family: $caslon-font-family
			font-size: rem(20)
			font-weight: 600
			font-style: italic
			color: #fff
			text-shadow: 0 0 27px rgba(0, 0, 0, .21)

			+below(960px) {
				display: block
				opacity: 0
				transition: opacity 500ms ease-in-out
			}
		}

		&.slick-center {
			h3 {
				opacity: 1
			}
		}


		+above(1440px) {
			border-right: 10px solid #1e2227
			border-left: 10px solid #1e2227
		}

		+below(960px) {
			border-right: 6px solid #1e2227
			border-left: 6px solid #1e2227

			img {
				width: 100%
				height: 100%
			}

			&::after {
				content: ''
				position: absolute
				top: 0
				right: 0
				bottom: 0
				left: 0
				opacity: .4
				width: 110%
				height: 100%
				background-color: #000
				transition: all 300ms ease-in-out
			}


			+below(670px) {
				&::after {
					background-color: transparent
				}
			}

			&.slick-center {
				&::after {
					opacity: 0
				}
			}
		}

		+below(670px) {
			border: 0
		}
	}

	.slick-dots {
		position: absolute
		z-index: 4
		right: 0
		left: 0
		bottom: 20px
		margin: rem(15) auto
		padding: 0
		max-width: rem(1000)
		text-align: left
		list-style-type: none

		+below(1250px) {
			bottom: 50px
		}

		+below(1165px) {
			bottom: 90px
		}

		+below(1100px) {
			bottom: 120px
		}

		+below(1015px) {
			bottom: 150px
		}

		+below(960px) {
			bottom: rem(-15)
			max-width: 100%
			text-align: center
		}

		+below(480px) {
			bottom: rem(-5)
		}

		li {
			display: inline-block

			button {
				outline: 0
				border: 0
				margin-right: rem(5)
				width: rem(34)
				height: rem(34)
				font-family: $montserrat-font-family
				font-size: rem(14)
				line-height: rem(32)
				font-weight: 700
				color: #fff
				background-color: $dark-gray
				transition: background 200ms ease-out
				cursor: pointer

				+below(960px) {
					border: 1px solid #fff
					border-radius: 50%
					padding: rem(4)
					width: rem(8)
					height: rem(8)
					color: transparent
					background-color: transparent
				}
			}

			&.slick-active {
				button {
					background-color: #00A2A7

					+below(960px) {
						background-color: #fff
					}
				}
			}
		}
	}
}

.property {
	.slick-slide {
		+above(1440px) {
			border: 0
		}

		+below(960px) {
			overflow: hidden
		}
	}

	.slick-dots {
		text-align: center

		li {
			button {
				+below(960px) {
					padding: rem(2)
					width: rem(8)
					height: rem(8)
				}
			}
		}
	}
}

.calendars__carousel {
	z-index: 2

	// Remove default styles
	.slick-prev,
	.slick-next {
		z-index: 200
		outline: 0
		position: absolute
		top: rem(100)
		border: 0
		color: transparent
		background-color: transparent

		+below(960px) {
			top: rem(120)
		}
	}

	.slick-prev {
		left: rem(-40)

		+below(670px) {
			left: rem(-15)
		}
	}

	.slick-next {
		right: rem(-40)

		+below(670px) {
			right: rem(-15)
		}
	}
}

.testimonial__carousel {
	// Remove default styles
	.slick-prev,
	.slick-next {
		outline: 0
		position: absolute
		top: rem(10)
		border: 0
		color: transparent
		background-color: transparent

		+below(960px) {
			top: rem(35)
		}
	}

	.slick-prev {
		left: 0
	}

	.slick-next {
		right: 0
	}
}
.team__carousel__container {
	text-align: center
}

.team__carousel__nav {
	position: relative
	display: inline-block
	text-align: center

	.slick-prev,
	.slick-next {
		outline: 0
		border: 0
		padding: 0
		color: transparent
		background-color: transparent

		+below(670px) {
			position: absolute
			top: 0
		}
	}

	.slick-prev {
		float: left

		+below(670px) {
			left: 0
		}
	}

	.slick-next {
		float: right

		+below(670px) {
			right: 0
		}
	}

	.slick-dots {
		z-index: 4
		display: inline-block
		margin: rem(16) rem(20) rem(16) rem(24)
		padding: 0
		list-style-type: none

		li {
			display: inline-block

			button {
				outline: 0
				margin-right: rem(5)
				border: 1px solid #fff
				border-radius: 50%
				padding: rem(4)
				width: rem(8)
				height: rem(8)
				color: transparent
				background-color: transparent
				transition: background 200ms ease-out
				cursor: pointer
			}

			&.slick-active {
				button {
					background-color: #fff
				}
			}
		}
	}
}

.villas__carousel {
	.slick-dots {
		z-index: 4
		margin: rem(40) auto rem(15)
		padding: 0
		list-style-type: none

		li {
			display: inline-block

			button {
				outline: 0
				margin-right: rem(5)
				border: 1px solid #838181
				border-radius: 50%
				padding: rem(4)
				width: rem(8)
				height: rem(8)
				color: transparent
				background-color: transparent
				transition: background 200ms ease-out
				cursor: pointer
			}

			&.slick-active {
				button {
					background-color: $aqua
					border-color: $aqua
				}
			}
		}
	}

	.slick-slide {
		margin: 0 rem(10)
	}
}

.hero__carousel__nav {
	.slick-slide {
		&.-is-current {
			border-color: #54c5d0
		}

		&.-has-video {
			position: relative

			&::after {
				content: ''
				position: absolute
				top: rem(7)
				right: 0
				left: 0
				margin: 0 auto
				max-width: rem(30)
				height: 100%
				background-image: url('../images/svg/icon-play-aqua.svg')
				background-repeat: no-repeat
				background-size: 100%
				pointer-events: none
			}
		}
	}
}

.hero__carousel {
	.slick-slide {
		&.-has-video {
			position: relative

			&::after {
				content: ''
				position: absolute
				top: calc(50% - 1.875rem)
				right: 0
				left: 0
				margin: 0 auto
				max-width: rem(30)
				max-height: rem(30)
				height: 100%
				background-image: url('../images/svg/icon-play-aqua.svg')
				background-repeat: no-repeat
				background-size: 100%
				pointer-events: none
			}
		}
	}

	.slick-arrow {
		position: absolute
		z-index: 1
		top: calc-50-minus(50)
		outline: 1px solid transparent
		border: 0
		width: rem(80)
		height: rem(100)
		color: transparent
		background-color: white
		background-position: center center
		background-repeat: no-repeat
		transition: background 200ms
	}

	.slick-prev {
		left: 0
		background-image: url('../images/svg/no-sprite/gallery-arrow-left-black.svg')

		&:hover {
			background-image: url('../images/svg/no-sprite/gallery-arrow-left-blue.svg')
		}
	}

	.slick-next {
		right: 0
		background-image: url('../images/svg/no-sprite/gallery-arrow-right-black.svg')

		&:hover {
			background-image: url('../images/svg/no-sprite/gallery-arrow-right-blue.svg')
		}
	}
}

// !Select2 Dropdown
// ==|=========================================================================
.select2-search ,
.select2-arrow {
	display: none !important
}

.select2-choice {
	position: relative !important
	border: 0 !important
	border-radius: 0 !important
	width: 100% !important
	height: 100% !important
	background: transparent !important
	background-image: none !important
	box-shadow: none !important
	text-decoration: none !important
}

.select2-container {
	border: 0 !important
	border-radius: 0 !important
	width: 100% !important
	height: 100% !important
}

.select2-chosen {
	padding-left rem(2) !important
	line-height: rem(35) !important
	color: #808080 !important
}

.select2-result-label {
	text-align: center
}

.select2-container-active {
	outline: 0 !important
}

.select2-drop-active {
	border: 1px solid #dfdfdf
}

.select2-drop {
	box-sizing: content-box !important
	margin-left: -1px
	border: 1px solid #dfdfdf
	border-top: none
	border-radius: 0 !important
	font-family: $helvetica-font-family !important
	font-size: rem(13) !important
	color: #4c5246 !important
}

.select2-drop.js-select2-dropdown--alt {
	border-color: #bfbfbf !important
	background-color: #ececec !important
}

.select2-highlighted {
	background: $aqua !important
}

// !Autocompleter
// ==|=========================================================================
.autocompleter  {
	z-index: 20
	top: calc(100% - 1px)
	width: rem(612)
	background-color: #fdfdfd
	max-width: 100%;

}

.autocompleter-list {
	text-align: left
	font-family: $montserrat-font-family
	font-size: rem(15)
	line-height: 1.2
	color: #808080
}

.autocompleter-item {
	padding-top: rem(10)
	padding-bottom: rem(10)
	padding-left: rem(20)
}

.autocompleter-item-selected {
	background-color: $aqua
	color: #fff
}

// !Fancybox
// ==|=========================================================================
.fancybox-skin {
	background-color: transparent
}

.fancybox-inner::-webkit-scrollbar {
	display: none
}

.fancybox-nav {
	top: calc-50-minus(50)
	width: rem(80)
	height: rem(100)
	background-color: white
	background-position: center center
	background-repeat: no-repeat
	transition: background 200ms
}

.fancybox-prev {
	left: rem(-80)
	background-image: url('../images/svg/no-sprite/gallery-arrow-left-black.svg')

	&:hover {
		background-image: url('../images/svg/no-sprite/gallery-arrow-left-blue.svg')
	}
}

.fancybox-next {
	right: rem(-80)
	background-image: url('../images/svg/no-sprite/gallery-arrow-right-black.svg')

	&:hover {
		background-image: url('../images/svg/no-sprite/gallery-arrow-right-blue.svg')
	}
}
